{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="text-center" style="padding-top: 160px;padding-bottom: 176px; color: violet;">
        <h1><i>Welcome to SMART BUDGET</i></h1>
        <h3 class="">wise money decisions</h3>
        <h3>come let's help you plan</h3>
    </div>

</div>
<style>
    body {
        background-color: #fff;
         
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


{% endblock %}